*{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans JP', sans-serif;
}
.logo{
    width: 120px;
    cursor: pointer;
    
}
.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url(/phonie/images/phonie5.jpg);
    background-size: cover;
    background-position: center;
 }
 main{
    margin:20px auto;
    max-width: 250px;
    padding: 200px;
    background-color: rgba(173, 172, 161, 0.747);
    border-radius: 50px;
    box-shadow:  black;
} 
main form label {
    margin-bottom: 50px;
    font-weight: bolder;
    font-size: larger;
    
}
main form input[type="text"],
main form input[type="number"] {
    width: 100%;
    padding: 15px;
    margin-bottom: 30px;
    border: 2px pink #ccc;
    border-radius: 10px;
}
main form select{
    width: 100%;
    padding: 15px;
    margin-bottom: 30px;
    border: 2px pink white;
    border-radius: 10px;
}
main form button {
    padding: 15px 15px;
    background-color: rgb(29, 85, 43);
    color: white;
    border: 2px pink whitesmoke;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}
main form button:hover {
    background-color: yellowgreen;
}
